{% extends "base.html" %}
{% load utils %}
{% load ias_tags %}

{% block extra-head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/markerclusterer-r317.js"></script>
<script type="text/javascript">{% include "ias/map_styles.js" %}</script>
<script type="text/javascript" src="/appmedia/js/map.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var data = $.parseJSON('{{ map_data|safe }}');
        initialize_map(data);
    });
</script>
{% endblock %}

{% block page %}map-page{% endblock %}
{% block navclass %}map-nav{% endblock %}

{% block content %}
<section class="generic-inner">
    <h1>Sighting details</h1>
    <div id="map_container" >
        <div id="map_canvas" ></div>
    </div>
    <div id="map_hidden_canvas" style="display: none"></div>

    {% for taxon in taxa %}
    <div class="form-row checkbox-row">
    <input type="checkbox" id="cluster{{ taxon.pk }}" checked />{{ taxon }}
    </div>
    {% endfor %}
  </section>
{% endblock %}
