{% extends "base.html" %}
{% block css %}
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/google_form.css" />
{% endblock %}

{% block navclass %}sightings-nav{% endblock %}

{% block extra-head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% if not in_app %}
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
function initialize() {
    var latlng = new google.maps.LatLng({{ sighting.lat }}, {{ sighting.lon }});
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

    var make_marker = function(photo, lat, lng, map) {
        var infowindow = new google.maps.InfoWindow({
            content: '<img src="' + photo + '" alt="photo" />'
        });

        var latlng = new google.maps.LatLng(lat, lng);

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title:"{{ sighting.taxon }}"
          });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });
    };

    {% for sight in others %}
    make_marker(
        '{{ sight.photo|size:400 }}',
        {{ sight.lat }},
        {{ sight.lon }},
        map);
    {% endfor %}

    make_marker(
        '{{ sighting.photo|size:400 }}',
        {{ sighting.lat }},
        {{ sighting.lon }},
        map);
}


</script>
{% endif %}
{% endblock %}

{% block body-onload %}{% if not in_app %}initialize();{% endif %}{% endblock %}

{% block content %}
<section class="generic-inner">
    <h1>Sighting details</h1>
    <div class="detail-wrapper">
        {% if not in_app %}
        <div class="pic-holder"><img src='{{ sighting.photo }}' alt='photo' /></div>  

        <ul class="detail-list">
            <li><strong>Taxon:</strong><br /> {{ sighting.taxon }}</li>
            {% if sighting.contactable %}
                <li><strong>Reported by: <br /></strong> {{ sighting.email }}</li>
            {% endif %}
            <li><strong>On:</strong> <br/ > {{ sighting.datetime }}</li>
            
        </ul>
        {% endif %}
        </div>

        {% if google_form %}
        <a name="Questionnaire" ><h2>A few more details...</h2></a>
        {# This little JS/iframe hack allows us to redirect here #}
        <script type="text/javascript">var submitted=false;</script>
        <iframe
        name="hidden_iframe"
        id="hidden_iframe"
        style="display:none;"
        onload="if (submitted)
                {window.location='{% url ias-sighting-detail sighting.pk %}';}">
        </iframe>
        {{ google_form|safe }}
        {% endif %}

        {% if not in_app %}
        <div id="map_container" >
            <div id="map_canvas" ></div>
        </div>
        {% endif %}
{% endblock %}

