{% extends 'base.html' %}
{% load ias_tags %}

{% block css %}
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
{% endblock %}

{% block preload-js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block page %}sightings-page{% endblock %}
{% block navclass %}sightings-nav{% endblock %}

{% block content %}
    <section class="generic-inner">
        <h1>List of sightings</h1>
        <table id="sightings">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Date</th>
                    <th>Taxon</th>
                    <th>Sighter</th>                
                </tr>
            </thead>
            <tbody>
            {% for sighting in object_list %}
                <tr>
                    <td class="image-cell">
                        <img src="{{ sighting.photo|size:150 }}" alt="" />
                    </td>
                    
                    <td class="time-cell">
                        {{ sighting.datetime }}
                    </td>
                    <td class="taxon-cell">
                        <a href="{{ sighting.get_absolute_url }}">{{ sighting }}</a>
                    </td>
                    <td>
                    {% if sighting.contactable and user|is_expert_for:sighting %}
                    <a href="mailto:{{ sighting.email }}">{{ sighting.email }}</a>
                    {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('#sightings').tablesorter();
</script>
{% endblock %}

