{% extends "base.html" %}
{% block css %}
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
{% endblock %}



{% block content %}

<section class="generic-inner">
    <h1>List of sightings</h1>
<form method="post" id="sighting-form" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "form_snippet.html" %}
    <input class="input-submit"type="submit" name="submit" value="submit" />
</form>
</section>
{% endblock %}
