{% extends "base.html" %}
{% load ias_tags %}

{% block css %}
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
{% endblock %}

{% block extra-head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.innerfade.js"></script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript"
    src="{{ STATIC_URL }}js/markerclusterer-r317.js">
</script>
<script type="text/javascript">

{% include "ias/map_styles.js" %}

var taxaClusters = {};
var map;


function initialize() {
    var latlng = new google.maps.LatLng({{ 54 }}, {{ -1 }});
    var myOptions = {
      zoom: 5,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

    var pushSighting = function(lat, lng, cluster) {
        var latLng = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({'position': latLng});
        cluster.push(marker);
    };
    var cluster{{ taxon.pk }} = [];
    {% for sight in taxon.verified_sightings.all %}pushSighting(
        {{ sight.lat }},
        {{ sight.lon }},
        cluster{{ taxon.pk }});
    {% endfor %}
    var markerCluster{{ taxon.pk }} = new MarkerClusterer(map, cluster{{ taxon.pk }}, {
        {% if taxon.style_name %}
        styles: styles['{{ taxon.style_name }}']
        {% else %}
        styles: defaultStyle
        {% endif %}
    });
    taxaClusters[{{ taxon.pk }}] = markerCluster{{ taxon.pk }};

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var current = new google.maps.LatLng(
                position.coords.latitude,
                position.coords.longitude
            );
            console.log(current);
            map.setCenter(current);
            map.setZoom(15);
        });
    }
}

$(document).ready(function(){
    $('ul#slider').innerfade({
        speed: 1000,
        timeout: 5000,
        type: 'sequence',
        containerheight: '295px'
    });
});
</script>
{% endblock %}

{% block title %}- Taxon details{% endblock %}
{% block navclass %}taxa-nav{% endblock %}

{% block body-onload %}initialize();{% endblock %}

{% block content %}
<section class="generic-inner">
<h1>{{ taxon }}</h1>
<div>
    {{ taxon.scientific_name }}
</div>
<div class="description">
    {{ taxon.key_text|linebreaks }}
</div>
<div class="sightings">
    <div class="slider-wrapper">
        <ul id="slider" class="innerfade">    
        {% for sighting in taxon.verified_sightings %}
            <li>
            <a href="{{ sighting.get_absolute_url }}">
                <img src="{{ sighting.photo|size:200 }}" alt="{{ sighting }}" />
                <span>{{ sighting }} - {{ sighting.datetime.date }}</span>
            </a>
            </li>
        {% endfor %}
        </ul>   
    </div>
</div>

<div id="map_canvas" style="width:100%; height:300px;"></div>
</section>
{% endblock %}
