/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body{
 	background: #e8e8e8 url(../img/main-bg.jpg) repeat-x left 24px;   
}

#content {
    position: relative;
    width: 896px;
    margin: 0 auto;
    text-align: left;
    padding: 0px 48px; 
    padding-top: 24px;
    background: url(../img/home-banner.jpg) no-repeat center top;  
    overflow: hidden;
}

#intro-wrapper {
    position: relative;    
}

#intro {    
    background-color: #d36165;
    padding: 12px 24px;
    color: #fff;
    width: 480px;
    line-height: 1.4;
}

#intro h2 {
    margin-bottom: 6px; 
}

#intro p {
    font-size: 14px;
}

#intro a {
    color: #fff;  
    text-decoration: none;
    margin-bottom: 6px;
}

#intro a:hover {
    text-decoration: underline;    
}

#call-to-action {
    margin-top: 30px;
    overflow: hidden;
}

a.action-btn {
    display: inline-block;
    float: left;
    width: 202px;
    border: 1px solid transparent;
    padding: 12px 24px;
    height: 58px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;    
    margin-bottom: 0; 
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a.action-btn:hover {
     border: 1px solid #fff;    
}

a.action-add-sighting {
    background: url(../img/action-btn-bg-blue.jpg) repeat left top; 
    margin-right: 24px;
}

a.action-view-map {
    background: url(../img/action-btn-bg-green.jpg) repeat left top;    
}

.btn-intro {
    display: block;
    line-height: 1.2;
    margin-bottom: 4px;
    font-size: 14px;
}

a.action-add-sighting .btn-intro {
     color: #ffb9bb;   
}

a.action-view-map  .btn-intro {
     color: #485c1d;   
}

.btn-action {
    font-weight: bold;  
    display: block;
    padding-right: 24px;
}

.action-btn .btn-action {
    background: url(../img/btn-arrow.png) no-repeat right center;
}

.login-box {
    position: absolute;
    right: 48px;
    top: 24px;
    text-align: left;
    width: 296px;
    height: 228px;    
    padding: 12px 24px; 
    background-color: rgba(256, 256, 256, 0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;    
}

.login-box h2 {
    line-height: 1.2; 
    margin-bottom: 24px;
    font-size: 18px;
}

.reg-desc {
    font-size: 14px;
    color: #d36165;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}


.login-box  label {
     width: 90px;
}

.login-box .form-row input {
    width: 188px;
}

.login-box .login-btn {
   margin-right: 12px; 
   margin-left: 90px;
}

/* Logged in - login-box */

.logged-in a {
    color: #d36165;
}

.logged-in a:hover {
    color: #0f3b5f;     
}

#sighting-box {
    width:  480px;
    height: 360px;
    margin-top: 48px;
    margin-bottom: 24px;
    padding: 12px 24px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;     
}

#sighting-box  h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.slider-wrapper {
   border: 1px solid #ccc;
   padding: 12px;
   padding-bottom: 0;
   width: 456px;
   -moz-box-shadow: 0px 0px 8px #c0c0c0;
   -webkit-box-shadow: 0px 0px 8px #c0c0c0;
   box-shadow: 0px 0px 8px #c0c0c0;
   
}

#slider {
    overflow: hidden;  
}

#slider li{
    list-style: none;    
}

#slider li a {
    display: block;
    position: relative;
    text-decoration: none;
}

#slider li img {
    width: 456px;
    height: auto;
    
}

#slider li span {
    position: absolute;  
    color: #333;
    font-size: 14px;
    background-color:#fff;
    display: block;
    width: 100%;
    padding: 6px 12px;
    left: 0;
    top: 262px; 
    line-height: 1.5;
    text-align: center;
}

#taxa-box {
    position: absolute;
    right: 48px;
    top: 324px;
    width: 296px;
    height: 360px;
    padding: 12px 24px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#taxa-box  h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

#taxa-list li {
    list-style:none;
    float: left;
    margin: 0 8px 10px 0;
}

#taxa-list li a {
    display: inline;
    padding: 4px 6px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    background-color: #d36165;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;  
}


#taxa-list li a:hover {
    background-color: #0f3b5f;   
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	#content {
		width: 712px;
        padding: 0 28px;
        padding-top: 24px;
	} 
    
    #call-to-action {
        margin-top: 24px;   
    }
    
    #intro a {
        text-decoration: underline;
        line-height: 1.2;
    }
    
    .login-box {
        position: static;
        margin-top: 54px;
        width: 480px;
        height: auto;
        left: 28px;
    }
    
    #user-reg-btn {
        margin-top: 0;  
        float: none;
    }
    
    #sighting-box {
        margin-top: 24px;    
    }
    
    #taxa-box {
        position: static;
        width: 480px;
        margin-bottom: 24px;
    }
    
    
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
    
    #content {
		width: 256px;
        padding: 0 34px;
        padding-top: 24px;
        height: auto;
	}
	
	#intro {
        width: 204px;        
    }
    
    #call-to-action {
         margin-top: 12px; 
    }
    
    #intro a {
         text-decoration: underline; 
         line-height: 1.2;
    }
    
    a.action-add-sighting {
         margin-bottom: 12px;   
    }
    
    .login-box {
        position: static;
    	width: 204px; 
        right: auto;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }    
     
    .login-box .form-row  input  {
        width:  198px;    
    }
    
    .login-box .register-btn,  .login-box .login-btn{
        float: none;  
        margin: 0;
        
    }
    
    #user-reg-btn {
        margin-top: 0;  
        float: none;
    }
    
    #sighting-box {
        margin-top: 24px; 
        width: 204px;
    }
    
    .slider-wrapper {
        width: 178px;
        height: 240px;
    }
    
    #slider li img {
       width: 178px; 
       height: 178px;
    }
    
    #slider li span {
        width: 178px;   
        top: auto;
        bottom: 0;
        text-align: left;
    }
	    
    #taxa-box {
        position: static;
        width: 204px;
        margin-bottom: 24px;
    }
	
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#content {
		width: 436px;
        padding: 0 22px;
        padding-top: 24px;
	}
    
    #intro {
        width: 388px;        
    }
    
    #call-to-action {
         margin-top: 12px; 
    }
    
    #intro a {
         text-decoration: underline; 
         line-height: 1.2;
    }
    
    a.action-add-sighting {
         margin-bottom: 12px;  
    }
    
    .login-box {
        position: static;
    	width: 388px; 
        right: auto;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }    
     
    .login-box .form-row  input  {
        width:  198px;    
    }
    
    .login-box .register-btn,  .login-box .login-btn{
        float: none;  
        margin: 0 ;
    }
    
    #user-reg-btn {
        margin-top: 0;  
        float: none;
    }
    
    #sighting-box {
        margin-top: 24px; 
        width: 388px;
    }
    
    .slider-wrapper {
        width: 362px;
    }
    
    #slider li img {
       width: 362px; 
       height: 260px;
    }
    
    #slider li span {
        width: 362px; 
        top: auto;
        bottom: 0;
        text-align: left;
    }
    
    #taxa-box {
        position: static;
        width: 388px;
        margin-bottom: 24px;
    }
   
}

