/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    line-height: 1.0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}


/*	Typography presets
	------------------	*/

body {
	font: 16px/24px 'Droid Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, th{
    font-family: 'Droid Serif', Georgia, Times, serif; 
    line-height: 1.5;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5;   
}

a {
    line-height: 1.5;
    outline: none;
}

input {
     font-size: 16px;   
}

small {
	font-size: 13px;
	line-height: 1.5;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: #0F3B5F; color: #fff;}
::-moz-selection 	{background: #0F3B5F; color: #fff;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158); color: #fff;}

/* Forms */
form {
    overflow: hidden;    
}

label {
     display: inline-block; 
     float: left;
     line-height: 1.5;
     width: 120px;
}

.form-row {
    margin-bottom: 12px; 
    overflow: hidden;
}

input {
    display: inline-block;
    float: left;
    width: 280px;
    border: 1px solid #ccc;
    padding-top: 2px;
    padding-left: 2px;
    height: 22px;
    line-height: 1.5;
}

input.input-submit, input.input-button {
    -webkit-appearance: none;
    font-family: Helvetica, Arial, sans-serif;
    height: auto;
    width: auto;
    border: none;
    display: inline-block;
    cursor: pointer; 
    background-color: #d36165;  
    color: #fff;
    font-weight: bold;
    padding: 6px;
    font-size: 16px; 
    line-height: 1.5;
    margin-top: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;    
}

input.input-submit:hover {
    background-color: #0f3b5f;    
}


input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus
textarea:focus {
    border-color:#0f3b5f;
}


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
    text-align: center;
    overflow-x: hidden; 
    border-top: 30px solid #3c3c3c;
	color: #555;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

footer {
     bottom: 0;
     background-color: #3c3c3c;
     padding: 12px;
     color: #fff;
}

#footer-inner {
    width: 896px;
    margin: 0 auto;
    text-align: left;
}

#footer-inner  a {
    color: #fff; 
}

#footer-links {
    margin-left: 6px;    
}

#masthead {
    position: relative;
    background-color: #fafcf6;
    text-align: left;
    width: 896px;
    padding: 0 48px;
    padding-top: 24px;
    height: 80px;
    margin: 0 auto;
}

#masthead h1 a {
    display: block;
    text-indent: -9999px;
    height: 52px;
    background: url(../../img/ias-logo.jpg) no-repeat left bottom;  
    outline: none;
}

#masthead p {
    text-indent: -9999px;
}

#login-status {
    position: absolute; 
    right: 48px;
    top: -26px;
    text-align: right;
    font-size: 14px;
    color: #fff;
}

#login-status a {
    color: #fff; 
}

#login-status a:hover {
     text-decoration: underline;   
}

#masthead nav {
    position: absolute;
    right: 48px;
    top: 60px;
}

#masthead nav ul {
    list-style: none;  
    overflow: hidden;
}

#masthead nav li {
    float: left;
    display: inline;
}

#masthead nav li a {
    color: #0f3b5f;
    text-decoration: none;
    font-family: 'Droid Serif', Georgia, Times, serif; 
    font-weight: bold;
    font-size: 16px;
    margin-left: 24px;
}

#masthead nav li.current a {
    color: #d36165;    
}

#masthead nav li a:hover {
    color: #d36165;
}

#search-box {
    position: absolute;
    right: 48px;
    top: 12px; 
}

.site-search {
	display: block;
	background: transparent;
    overflow: hidden;
}

.search-field {
    -webkit-appearance: none;
    float: left;
    display: block;
	background: #fff;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	padding: 6px 4px 4px 6px;
	width: 292px;
    height: 18px;
	border: solid 1px #bcbbbb;
	outline: none; 
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

input.search-btn {
    float: left;
    margin-left: 2px;
    margin-top: 0;
    padding: 0;
    display: block;
	color: #fff;
	font-size: 14px;
	height: 30px;
	width: 30px; 
    text-align: center;
}

.generic-inner {
    width: 848px;
    margin: 0 auto; 
    background-color: #fff;
    padding: 12px 24px;
    min-height: 300px;
    margin-top: 24px;
    margin-bottom: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.generic-inner h1 {
    margin-bottom: 12px;    
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
   
    body {
        background-position: left 32px;
    }
	
	#masthead {
		width: 712px;
        padding: 0 28px;
        padding-top: 12px;
        height: 148px;
	}
    
    #masthead p {
        height: 12px;   
    }
    
    #login-status {
        right: auto;  
        left: 28px;   
    }
    
    #masthead nav {
        position: static;
        margin-bottom: 12px;
    }    
      
    #masthead nav li a {
        margin-left: 0;
        margin-right: 24px;
    }
    
    #search-box {
        position: static;
        margin-bottom: 12px;    
    }
    
    #footer-inner {
        padding-left: 28px;    
    }    
   
    .generic-inner {
         width: 664px; 
    }


}


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

    body {
        background-position: left 132px; 
    }
    
    #login-status {
        right: auto;  
        left: 34px;
    }
	
	#masthead {
		width: 252px;
        height: 236px;
        padding: 0 34px;
        padding-top: 12px;
    }
    
    #masthead p {
        height: 12px;    
    }
    
    #masthead nav {
        position: static;
        margin-bottom: 12px;
    }    
        
    #masthead nav li {
        float: none; 
        display: block
    }
    
    #masthead nav li a {
        margin-left: 0; 
    }
    
    #search-box {
        position: static;
        margin-bottom: 12px;    
    }
    
    .search-field {
       width: 206px;    
    }
    
    #footer-inner {
        padding-left: 34px;    
    }  
    
    #footer-links {
        display: block;
        margin-left: 0;
    }
    
    .generic-inner {
         width: 228px; 
         padding: 12px;
    }
	
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    body {
        background-position: left 132px; 
    }
    
    #login-status {
        right: auto;
        left: 22px;
    }
	
	#masthead {
		width: 436px;
        height: 236px;
        padding: 0 22px;
        padding-top: 12px;
	}
    
    #masthead nav {
        position: static;
        margin-bottom: 12px;
    }
    
    #masthead nav li {
        float: none; 
        display: block;
    }
    
    #masthead nav li a {
        margin-left: 0; 
    }
    
    #footer-inner {
        padding-left: 22px;    
    }
    
    .generic-inner {
         width: 412px; 
         padding:12px;
    }

	
}