{% extends 'base.html' %}
{% block title %}Page not found{% endblock %}

{% block content %}
<section class="generic-inner">
<h1>Oh globbits.</h1>

<p>We can't find that thing. Has it been overgrown with Buddleja?</p>

<p>While you search, why not <a href="http://www.justgiving.com/plantlife/donate">make a donation</a> to Plantlife - The Wild-Plant Conservation Charity?</p>

<p>If you think something should be here that isn't, <a href="mailto:steve@ias-ess.org">email us</a>.</p>
</section>
{% endblock %}
