{% extends 'base.html' %}
{% block title %}Server error{% endblock %}

{% block content %}

<section class="generic-inner">
<h1>Oh globbits.</h1>

<p>Looks like we ran into a problem... sorry about this. Probably some Japanese knotweed growing through the server room...</p>

<p>In the mean time, why not <a href="http://www.justgiving.com/plantlife/donate">make a donation</a> to Plantlife - The Wild-Plant Conservation Charity?</p>

<p>We'll try and fix this as soon as possible, so you can continue fighting against the invasive species!</p>
</section>
{% endblock %}

