{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet"  media="all" type="text/css" href="{{ STATIC_URL }}css/sections.css" />
{% endblock %}

{% block page %}about-page{% endblock %}
{% block navclass %}about-nav{% endblock %}


{% block content %}
<article class="generic-inner">


<h1>About IAS-ESS</h1>

<p> 
IAS-ESS was conceived to provide a central repository for Invasive Alien Species monitoring. The main benefit is that it is generalised to allow any expert to track their area of concern, whilst allowing the data gathered to be specific enough to that particular organism.
</p>

<p>
To get started, <a href="#">register</a> as an expert. You can then add a species for tracking. If the species you wish to track is already listed, you may wish to contact the expert who is currently monitoring it, and join forces!
</p>


<h2>Team</h2>

<p>IAS-ESS was thrown together in a weekend and a straggling few days by...</p>

<ul id="people">
    <li>
        <img src="{{ STATIC_URL }}img/team/steve.jpg" alt="Steve Pike" />
        <span class="person-desc">
            <span class="person-name">Steve Pike</span>
            <span class="person-role">Conception, coding, iOSness and motivation (?!)</span>
        </span>
    </li>
    <li>
        <img src="{{ STATIC_URL }}img/team/martin.jpg" alt="Martin Allison" />
        <span class="person-desc">
            <span class="person-name">Martin Allison</span>
            <span class="person-role">Coding, AppEnginess and comedy.</span>
        </span>
    </li>
    <li>
        <img src="{{ STATIC_URL }}img/team/mark.jpg" alt="Mark Allison" />
        <span class="person-desc">
            <span class="person-name">Mark Allison</span>
            <span class="person-role">Coding, Androidness and wisdom.</span>
        </span>
    </li>
    <li>
        <img src="{{ STATIC_URL }}img/team/xiaoying.jpg" alt="Xiaoying Riley" />
        <span class="person-desc">
            <span class="person-name">Xiaoying Riley
                (<a href="http://www.3rdwavemedia.com">3rdwavemedia.com</a>)
            </span>
            <span class="person-role">Web Design, loveliness and tea.</span>
        </span>
    </li>
    <li>
        <img src="{{ STATIC_URL }}img/team/dan.jpg" alt="Dan Jones" />
        <span class="person-desc">
            <span class="person-name">Dan Jones</span>
            <span class="person-role">Expertise, ruthlessness and eyebrow.</span>
        </span>
    </li>
    <li>
        <img src="{{ STATIC_URL }}img/team/frosty.jpeg" alt="James Frost" />
        <span class="person-desc">
            <span class="person-name">James Frost
                (<a href="http://jameswfrost.co.uk">jameswfrost.co.uk</a>)
            </span>
            <span class="person-role">iOS power-ups!</span>
        </span>
    </li>
</ul>

</article>
{% endblock %}
