<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>IAS-ESS | {% block title %}Home{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base/base.css" />
        {% block css %}
        {% endblock %}

        {% block preload-js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
        {% endblock %}

        {% block extra-head %}{% endblock %}
    </head>

    <body onload="{% block body-onload %}{% endblock %}">
        <header data-role="header" data-them="b">
            <h1><a href="/">IAS-ESS</a></h1>
        </header>

        <div data-role="page" data-them="b" id="content">
            {% block auth %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        </div>

        <footer data-role="footer" data-position="fixed">
            {% block footer %}
            {% endblock %}
            <small>&copy; ias-ess.org</small>
        </footer>

        {% block js %}
        {% endblock %}
    </body>
</html>
