<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" 
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <title>{% block title %}IAS-ESS{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base/base.css" />
        {% block css %}
        {% endblock %}

        {% block preload-js %}
        {% endblock %}

        {% block extra-head %}{% endblock %}
    </head>

    <body>
        <header data-role="header" data-them="b">
            <h1><a href="/">IAS-ESS</a></h1>
        </header>

        <div data-role="page" data-them="b" id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer data-role="footer" data-position="fixed>
            {% block footer %}
            {% endblock %}
            <small>&copy; ias-ess.org</small>
        </footer>

        {% block js %}
        {% endblock %}
    </body>
</html>
