{% extends 'base.html' %}
{% block title %}IAS-ESS{% endblock %}

{% block auth %}
    {% if user.is_authenticated %}
        Hi, {{ user }} [<a href="{% url auth_logout %}">logout</a>]
    {% else %}
        <a href="{% url auth_login %}">login</a>
    {% endif %}
{% endblock %}

{% block content %}

<div id="intro">
<p>
IAS-ESS is a unified Invasive Alien Species logging database.
{% if user.is_authenticated %}
You're registered as an <b>expert</b>, so you can register taxa to track, and
view results.
{% else %}
To track a taxa that is not listed here, please <a href="{% url registration_register %}">
register</a> as an <b>expert</b> and you can then begin tracking.
{% endif %}
</p>
</div>

{% endblock %}
