{% extends 'base.html' %}


{% block auth %}
    {% if user.is_authenticated %}
        Hi, {{ user }} [<a href="{% url auth_logout %}">logout</a>]
    {% else %}
        <a href="{% url auth_login %}">login</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="intro">
        <p>
            IAS-ESS is a unified Invasive Alien Species logging database.
            {% if user.is_authenticated %}
            You're registered as an <strong>expert</strong>, so you can 
            <a href="{% url ias-taxon-add %}">register</a> taxa to track, and
            view results.
            {% else %}
            To track a taxa that is not listed here, please <a href="{% url registration_register %}">
            register</a> as an <strong>expert</strong> and you can then begin tracking.
            {% endif %}
        </p>
        <p>
            Seen a plant or animal you think is an IAS? Add a sighting
            <a href="{% url ias-sighting-add %}">here</a>. You can see
            a gallery of existing sightings <a href="{% url ias-sighting-list %}">here</a>
            or see a list of taxa available for sighting
            <a href="{% url ias-taxon-list %}">here</a>.
        </p>
    </div>

{% endblock %}
